# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Build artifacts
dist/

# OS Files
.DS_Store
**/.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
