name: Build Index

on:
  workflow_dispatch:
  repository_dispatch:
    types: [update_project]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          
      - name: Run Unit Tests
        run: python tests/test_generate_index.py
          
      - name: Generate Index from App Stubs
        run: python scripts/generate_index.py
          
      - run: pip install mkdocs-material
      
      - run: mkdocs gh-deploy --force
